<%- include('../header') %>

<h2>Editar Adotante</h2>

<form action="/adotante/edit/<%= adotante._id %>" method="post">
  <label>Nome: <input type="text" name="nome" value="<%= adotante.nome %>" required></label><br>
  <label>Email: <input type="email" name="email" value="<%= adotante.email %>" required></label><br>
  <label>Telefone: <input type="text" name="telefone" value="<%= adotante.telefone %>" required></label><br><br>

  <button type="submit">Salvar Alterações</button>
</form>

<%- include('../footer') %>
