<%- include('../header') %>

<h2>Editar Abrigo</h2>

<form action="/abrigo/edit/<%= abrigo._id %>" method="post">
  <label>Nome: <input type="text" name="nome" value="<%= abrigo.nome %>" required></label><br>
  <label>Endereço: <input type="text" name="endereco" value="<%= abrigo.endereco %>" required></label><br>
  <label>Telefone: <input type="text" name="telefone" value="<%= abrigo.telefone %>" required></label><br>
  <label>Email: <input type="email" name="email" value="<%= abrigo.email %>" required></label><br><br>

  <button type="submit">Salvar Alterações</button>
</form>

<%- include('../footer') %>
